.Marketplace {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.add-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 1.2em;
  background-color: #008CBA;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.artwork-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.artwork {
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 300px;
}

.artwork img {
  width: 100%;
  height: auto;
}

.artwork-details {
  padding: 10px;
}

.artwork-details h2 {
  margin: 0;
  font-size: 1.2em;
}

.artwork-details p {
  margin: 0;
  font-size: 0.9em;
}

.sold {
  margin: 0;
  font-size: 0.9em;
  color: red;
}

.buy-button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 1.2em;
  background-color: #008CBA;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.popup-inner {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.popup h2 {
  margin-top: 0;
  font-size: 1.5em;
  margin-bottom: 20px;
  text-align: center;
}

.popup p {
  margin: 10px 0;
  font-size: 1.2em;
  text-align: center;
}

.popup button {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  font-size: 1.2em;
  background-color: #008CBA;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
